html, body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border: 1px solid black;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#header {
    background-color:rgb(196, 186, 186);
    margin: 0%;
    height: 150px;
    border: 1px solid black;
}

#photo {
    width: 150px;
    height: 75px;
    position: center;
}

#register-header {
    color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0%;
}

#main-content {
    background-color: pink;
    border: 1px solid black;
}

#footer {
    background-color:rgba(143, 208, 212, 0.938);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    border: 1px solid black;
}

#form {
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}