body {
    background-color: bisque;
}

hr {
    color: green;
    background-color: green;
    height: 5px;
    border: none;
}

#top-page-logo {
    display: block;
    width: 15%;
    margin: auto;

}

.container {
    flex: 1;
}

a {
    color: red;
}

a:visited {
    color: magenta;
} 

a:hover {
    color: red;
}

.col {
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#footer {
    text-align: center;
    justify-content: center;
    background-color: rgb(88, 15, 15);
    color: aliceblue;
    width: 100%;
    position: absolute; bottom: 0px;
}